@media only screen and (max-width: 600px) {

    #homeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffe100;
        height: 100vh;
    }

    #splashBtn {
        margin-top: 2rem;
        background-color: black;
        padding: 0.6rem;
        border-radius: 7px;
    }

    .btnLink {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 600;
        color: white;
        font-family: 'Quicksand', sans-serif;
    }

    #splashLogo {
        width: 4rem;
    }

    h1 {
        font-family: 'Quicksand', sans-serif;
    }

    .actionLinks {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 3rem;
        font-size: 1.2rem;
    }
}