@media only screen and (max-width: 700px) {

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Quicksand', sans-serif;
    background-color: #ffe100;
  }

  a:hover {
    cursor: pointer;
  }

  .topLogo {
    width: 4rem;
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    width: 3rem;
  }

}