@media only screen and (max-width: 700px) {

    #locations {
        margin-top: 5rem;
        padding: 0 2rem 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #locations section {
        border: 2px solid black;
        margin: 0.5rem;
        padding: 1rem;
        background-color: white;
        position: relative;
    }

    .locationOpenBtn {
        background-color: black;
        padding: 0.6rem;
        border-radius: 7px;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: Quicksand;
    }

    #locations a {
        color: white;
    }

    #locations p {
        font-size: 1.2rem;
    }

    .btnContainer {
        display: flex;
        justify-content: center;
    }

    .locationDelete {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
    }

}


