@media only screen and (max-width: 700px) {


    #map {
        height: 100vh;
        z-index: 1;
    }

    .geosearch {
        position: fixed;
        bottom: 4rem;
        left: 0.5rem;
        right: 0.5rem;
        background-color: white;
        height: 10rem;
        margin-right: 1rem;
        display: none;
        border-radius: 25px;
        overflow: scroll;
    }

    .leaflet-top {
        margin: 1rem 0 0 0.8rem;
    }

    .leaflet-bar {
        border: 1px solid gray;
    }

    .leaflet-bar-part.leaflet-bar-part-single a {
        display: none;
    }

    .leaflet-bar a, .leaflet-bar a:hover {
        background-color: #fff;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid white;
    }

    form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .glass {
        width: 15rem;
        height: 28px;
        margin-right: 10px;
        border: 1px solid gray;
        font-size: 1rem;
    }

    .reset {
        border: 1px solid white;
        border-bottom: 1px solid white;
        margin-right: 10px;
        color: white;
        background-color: white;
        position: absolute;
        top: 0.6rem;
        right: 0.1rem;
    }

    .active {
        cursor: pointer;
    }

    .active div:hover {
        background-color: #ffe100;
    }

    .leaflet-touch {
        box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    }

    .leaflet-popup-content-wrapper {
        background: #ffe100;
        color: #000;
        border: 1px solid black;
    }

    .leaflet-popup-tip {
        background:black;
    }

    .leaflet-popup-content {
        font-family: 'Quicksand', sans-serif;
        text-align: center;
    }

    .leaflet-popup-content h1 {
        font-size: 1.5rem;
    }

    .leaflet-popup-content a {
        font-size: 1rem;
        color: black;
        text-decoration: underline;
    }

    .saveAddBtn {
        margin-top: 0.5rem;
        background-color: black;
        padding: 0.5rem;
        border-radius: 7px;
        text-decoration: none;
        font-weight: 600;
        color: white;
        font-family: 'Quicksand', sans-serif;
    }

    .hidden {
        display: none;
    }

    .hide {
        margin: 0;
        font-weight: 600;
    }

    .currentLocationBtn {
        background: black;
        color: white;
        border-radius: 6px;
        margin-top: 0.4rem;
        font-weight: 500;
        font-size: 1rem;
        font-family: 'Quicksand', sans-serif;
    }

    #sidebar {
        position: fixed;
        width: 4rem;
        left: 1rem;
        top: 12rem;
        bottom: 0;
        z-index: 9;
    }

    .brandLogo {
        width: 3rem;
    }

    .spinCluster {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: black;
        font-weight: 700;
    }

    .JumpCluster {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: black;
        font-weight: 700;
    }

    .LimeCluster {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: black;
        font-weight: 700;
    }

    .LyftCluster {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: black;
        font-weight: 700;
    }

    .BirdCluster {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: black;
        font-weight: 700;
    }

    .GotchaCluster {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: black;
        font-weight: 700;
    }

    .circleMarker {
        z-index: 2000;
    }
}