@media only screen and (max-width: 600px) {

    #map {
        height: 100vh;
        z-index: 1;
    }

    .geosearch {
        position: fixed;
        bottom: 2rem;
        left: 0.5rem;
        background-color: white;
        height: 10rem;
        margin-right: 1rem;
        display: none;
    }

    .leaflet-control-zoom {
        margin-left: 1rem;
    }

    .leaflet-bar-part.leaflet-bar-part-single a {
        display: none;
    }

    form {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

    .glass {
        width: 15rem;
        height: 28px;
        margin-right: 10px;
    }

    .reset {
        border: 1px solid lightgray;
        margin-right: 10px;
    }

    .active {
        cursor: pointer;
    }

    .active div:hover {
        background-color: lightblue;
    }

    .leaflet-touch {
        box-shadow: 0 1px 5px rgba(0,0,0,0.65)
    }

}